.nav_menu {
  width: 82%;
  height: 5%;
  padding-top: 2%;
  padding-left: 10%;
  justify-content: space-between;
}

.logo_nav {
  height: 50px;
  gap: 2%;
  display: flex;
}

.text_logoStart {
  height: 50px;
  font-family: Work Sans;
  font-weight: 500;
  font-size: 40px;
  line-height: 125%;
  text-indent: 10px;
  letter-spacing: 0px;
  text-align: left;
}

ul > li {
  display: inline-block;
}

.navbar {
  overflow: hidden;
  font-family: Work Sans;
}

.navbar a {
  height: 100%;
  gap: 5%;
  font-weight: 400;
  font-size: 20px;
  line-height: 125%;
  letter-spacing: 0px;
  padding-top: 12px;
  text-decoration: none;
  color: #ffffff;
  text-align: end;
}

.navbar a:hover {
  color: #bafdc8;
}

.cont_startpage {
  width: 82%;
  height: 65%;
  padding-top: 6%;
  padding-left: 10%;
}

.text_startpage {
  padding-top: 2%;
}

.start_welc {
  width: 10%;
  height: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.title_startpage {
  width: auto;
  height: 30%;
  font-family: Crimson Text;
  font-weight: 700;
  font-size: 40px;
  line-height: 125%;
  letter-spacing: 0px;
  margin-top: 3%;
  word-spacing: 10px;
}

.tfpage {
  width: 100%;
  height: 30%;
  font-family: Work Sans;
  font-weight: 400;
  font-size: 15px;
  line-height: 125%;
  letter-spacing: 0px;
  color: rgba(255, 255, 255, 0.7490196078);
  padding-top: 5%;
}

.bspage {
  width: 40%;
  height: 15%;
  background-color: #FFFFFF;
  margin-top: 7%;
  border-radius: 5px;
  border: 5px #FFFFFF;
}

.bsb {
  width: 100%;
  height: 100%;
  font-family: Work Sans;
  font-weight: 400;
  font-size: 20px;
  line-height: 125%;
  letter-spacing: 0px;
  text-align: center;
  border-radius: 5px;
  border: 5px #FFFFFF;
  color: rgba(0, 0, 0, 0.637);
}

.bsb:hover {
  background-color: #e5ffe0;
  color: #000000;
}

.partner_text {
  width: 100%;
  height: auto;
  text-align: center;
  justify-content: center;
  padding-top: 8%;
}

.block_nameP {
  height: auto;
  font-family: Work Sans;
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 5px;
  text-align: center;
  text-transform: uppercase;
  color: #74C69D;
}

.titleP {
  font-family: Crimson Text;
  font-weight: 700;
  font-size: 40px;
  line-height: 125%;
  letter-spacing: 0px;
  padding-top: 2%;
}

.textP {
  width: 30%;
  font-family: Work Sans;
  font-weight: 400;
  font-size: 20px;
  line-height: 125%;
  letter-spacing: 0px;
  text-align: center;
  padding-top: 2%;
  display: inline-block;
}

.partners_logo {
  display: flex;
  width: 100%;
  height: auto;
  gap: 68px;
  padding-top: 4%;
  justify-content: center;
}

.button_partners {
  width: 170px;
  height: 48px;
  margin-top: 4%;
  margin-left: 43%;
}

.buttonP {
  width: 100%;
  height: 100%;
  font-family: Work Sans;
  font-weight: 400;
  font-size: 20px;
  line-height: 125%;
  letter-spacing: 0px;
  background-color: #212529;
  border-radius: 5px;
  border: 5px #212529;
  color: #ffffff;
}

.buttonP:hover {
  background-color: #74C69D;
  color: #032c0a;
}

.first_article {
  width: 100%;
  height: auto;
  justify-content: space-around;
  padding-left: 10%;
}

.text_first_article {
  padding-left: 15%;
  padding-top: 7%;
}

.img_p {
  width: 100%;
  height: 100%;
}

.title_fa {
  font-family: Crimson Text;
  font-weight: 700;
  font-size: 40px;
  line-height: 125%;
  letter-spacing: 0px;
  color: #212529;
}

.text_fa {
  font-family: Work Sans;
  font-weight: 400;
  font-size: 15px;
  line-height: 125%;
  letter-spacing: 0px;
  color: rgba(33, 37, 41, 0.5019607843);
  padding-top: 2%;
}

.buttonA {
  width: 170px;
  height: 48px;
  font-family: Work Sans;
  font-weight: 400;
  font-size: 20px;
  line-height: 125%;
  letter-spacing: 0px;
  text-align: center;
  background-color: #212529;
  border-radius: 5px;
  border: 5px #212529;
  color: #ffffff;
  margin-top: 4%;
}

.second_article {
  width: 100%;
  height: auto;
  justify-content: space-around;
  padding-left: 10%;
}

.text_second_article {
  padding-top: 14%;
  padding-right: 15%;
}

.title_sa {
  font-family: Crimson Text;
  font-weight: 700;
  font-size: 40px;
  line-height: 125%;
  letter-spacing: 0px;
  color: #212529;
}

.text_sa {
  font-family: Work Sans;
  font-weight: 400;
  font-size: 15px;
  line-height: 125%;
  letter-spacing: 0px;
  color: rgba(33, 37, 41, 0.5019607843);
  padding-top: 2%;
}

.buttonA:hover {
  background-color: #74C69D;
  color: #032c0a;
}

.text_team {
  width: 100%;
  height: auto;
  text-align: center;
  justify-content: center;
}

.block_nameT {
  height: auto;
  font-family: Work Sans;
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 5px;
  text-align: center;
  text-transform: uppercase;
  color: #74C69D;
}

.titleT {
  font-family: Crimson Text;
  font-weight: 700;
  font-size: 40px;
  line-height: 125%;
  letter-spacing: 0px;
  text-align: center;
  padding-top: 2%;
}

.textT {
  width: 30%;
  font-family: Work Sans;
  font-weight: 400;
  font-size: 20px;
  line-height: 125%;
  letter-spacing: 0px;
  text-align: center;
  padding-top: 2%;
  display: inline-block;
}

.card {
  width: 252px;
  height: auto;
  box-shadow: 3px 4px 12px 1px rgba(0, 0, 0, 0.2509803922);
}

.card:hover {
  box-shadow: 6px 8px 24px 2px #74C69D;
}

.carousel {
  width: 91%;
  height: 70%;
  display: flex;
  justify-content: center;
  margin-left: 5%;
  padding-top: 2%;
  box-sizing: border-box;
}

.carousel-inner {
  display: flex;
  justify-content: center;
  gap: 5%;
}

.carousel-control-next:hover {
  background-color: rgba(0, 0, 0, 0.281);
}

.carousel-control-prev:hover {
  background-color: rgba(0, 0, 0, 0.281);
}

.card_text {
  padding-left: 10%;
  padding-top: 5%;
}

.card_text_position {
  font-family: Work Sans;
  font-weight: 400;
  font-size: 15px;
  line-height: 125%;
  letter-spacing: 0px;
  padding-top: 10%;
}

.name_peopleT {
  font-family: Crimson Text;
  font-weight: 700;
  font-size: 24px;
  line-height: 125%;
  letter-spacing: 0px;
}

.buttonT {
  width: 170px;
  height: 48px;
  font-family: Work Sans;
  font-weight: 400;
  font-size: 20px;
  line-height: 125%;
  letter-spacing: 0px;
  text-align: center;
  background-color: #212529;
  border-radius: 5px;
  border: 5px #212529;
  color: #ffffff;
  margin-top: 4%;
}

.buttonT:hover {
  background-color: #74C69D;
  color: #032c0a;
}

.main_conteiner {
  width: 1440px;
  height: 3040px;
}

.start_page {
  width: 100%;
  height: 17%;
  background-color: #74C69D;
  color: #ffffff;
}

.partners_info {
  width: 100%;
  height: 18%;
}

.article {
  width: 93%;
  height: 34%;
}

.team_info {
  width: 100%;
  height: 22%;
}

.footer {
  width: 100%;
  height: 4%;
}/*# sourceMappingURL=style.css.map */