@import './style/nav_menu.scss';
@import './style/cont_startpage.scss';

.main_conteiner{
	width: 1440px;
	height: 3040px;
}
.start_page{
	width: 100%;
	height: 586px; //19%
	background-color: #74C69D;
	color: #ffffff;
}
.partners_info{
	width: 100%;
	height: 1658px; //55%
}
.team_info{
	width: 100%;
	height: 671px; //22%
}
.footer{
	width: 100%;
	height: 125px; // 4%
}